In [1]:
#Converting Data Types

In [2]:
#str to int
n1= 4
n2= '6'
n3= int(n2)
n4= n1+n3
print(n4)

10

In [5]:
#list to tuple
list1=[1,2,3,4,5]
tuple1= tuple(list1)
type(tuple1)

tuple

In [6]:
tuple1

(1, 2, 3, 4, 5)

In [7]:
#List to set
l1= [1,2,3,4,5,6,1,2,34,5,6,3,2]
s1= set(l1)
s1

{1, 2, 3, 4, 5, 6, 34}

In [8]:
#Converting Dictionaries
dict1= {"Name":"Prachi", "Age":21, "Height":165}
dict1

{'Name': 'Prachi', 'Age': 21, 'Height': 165}

In [9]:
list(dict1.values())

['Prachi', 21, 165]

In [10]:
list(dict1.keys())

['Name', 'Age', 'Height']

In [11]:
list(dict1.items())

[('Name', 'Prachi'), ('Age', 21), ('Height', 165)]

In [12]:
#String to List
s1= "I am so bored"
list(s1)

['I', ' ', 'a', 'm', ' ', 's', 'o', ' ', 'b', 'o', 'r', 'e', 'd']