In [5]:
#List - anything in square braces[]
#List are mutable- can be changed or modified after its creation
[1,2,3]
print(type([1,2,3]))

<class 'list'>

In [6]:
#List inside list, and various different datatypes inside a single list
['Vanilla', 'Chocolate', 5, True, ['V', 'A', 'C'], ['Hi', 'Hello']]

['Vanilla', 'Chocolate', 5, True, ['V', 'A', 'C'], ['Hi', 'Hello']]

In [8]:
fav= ['Vanilla', 'Chocolate', 'Mint']
print(fav)

['Vanilla', 'Chocolate', 'Mint']

In [10]:
#Appending- at the end of the list
fav.append('Caramel')
print(fav)
print("\n")
fav

['Vanilla', 'Chocolate', 'Mint', 'Caramel', 'Caramel']

['Vanilla', 'Chocolate', 'Mint', 'Caramel', 'Caramel']

In [11]:
fav[0]= "Strawberry"
fav

['Strawberry', 'Chocolate', 'Mint', 'Caramel', 'Caramel']

In [12]:
fav.append("Vanilla")
fav

['Strawberry', 'Chocolate', 'Mint', 'Caramel', 'Caramel', 'Vanilla']

In [13]:
nestedList= ['Vanilla', 'Chocolate', 5, True, ['V', 'A', 'C'], ['Hi', 'Hello']]

In [17]:
print(nestedList[0], "\n")
print(nestedList[1], "\n")
print(nestedList[2], "\n")
print(nestedList[3], "\n")
print(nestedList[4], "\n")
print(nestedList[4][0], "\n")
print(nestedList[4][2], "\n")
print(nestedList[5], "\n")
print(nestedList[5][1], "\n")

Vanilla

Chocolate

5

True

['V', 'A', 'C']

V

C

['Hi', 'Hello']

Hello

In [18]:
#Tuple- anything in round braces()
#->Immutable-> Can't be changed or modified after it's creation
#->Used for the data which is never going to change

tupleScoops= (1,2,3,4,2,4,1,5,5)

In [19]:
type(tupleScoops)

tuple

In [20]:
tupleScoops[0]

1

In [21]:
tupleScoops[5]

4

In [22]:
tupleScoops.append(4) #will give an error, as tuple are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
#Sets- anything in curly braces{}
#->Doesn't contains duplicates
#->Indexing is not possible, as sets are unordered
#- Elements can be accessed using a loop

set1= {1,2,3,4,5,5,4,1,6}

In [33]:
print(set1)

{1, 2, 3, 4, 5, 6}

In [34]:
type(set1)

set

In [35]:
#Combining unique values between two sets(Union)
#Union-> |
set2= {21,21,20,2,3,4,5,7,23,31,1,2}
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 20, 21, 23, 31}

In [36]:
#Extracting only common elements between two sets(intersection)
#Intersection-> &
print(set1 & set2)

{1, 2, 3, 4, 5}

In [38]:
#Elements which doesnt match(Difference)
#Difference-> (-)
print(set2 - set1)
print("\n")
print(set1-set2)

{7, 20, 21, 23, 31}


{6}

In [40]:
#Values that are competely unique to each of the sets(Unique)
#Unique-> ^
print(set1 ^ set2)
#or
print(set2 ^ set1)

{6, 7, 20, 21, 23, 31}
{6, 7, 20, 21, 23, 31}

In [41]:
#Dictionaries- {Key:Value}
#-> Consists of a key value pair

dict1= {"Name": "Prachi", "Age":21, "Fav ice-cream":["Chocolate", "Brownie Chocolate"]}
dict1

{'Name': 'Prachi',
 'Age': 21,
 'Fav ice-cream': ['Chocolate', 'Brownie Chocolate']}

In [43]:
type(dict1)

dict

In [44]:
dict1.keys()

dict_keys(['Name', 'Age', 'Fav ice-cream'])

In [45]:
dict1.values()

dict_values(['Prachi', 21, ['Chocolate', 'Brownie Chocolate']])

In [46]:
dict1.items()

dict_items([('Name', 'Prachi'), ('Age', 21), ('Fav ice-cream', ['Chocolate', 'Brownie Chocolate'])])

In [47]:
#Accessing the elements one by one
dict1["Name"]

'Prachi'

In [49]:
#Updating or modifying the items one by one
dict1["Name"]= "Roshni"
print(dict1)

{'Name': 'Roshni', 'Age': 21, 'Fav ice-cream': ['Chocolate', 'Brownie Chocolate']}

In [51]:
#Updating or modifying the items all at once or adding a new key value pair
#update can't delete the already existing key value pair

dict1.update({'Name': 'Roshni', 'Age': 21, 'Fav ice-cream': ['Chocolate-Chip', 'Brownie Chocolate'], 'Weight':61})
print(dict1)

{'Name': 'Roshni', 'Age': 21, 'Fav ice-cream': ['Chocolate-Chip', 'Brownie Chocolate'], 'Weight': 61}

In [52]:
dict1.update({'Name': 'Roshni', 'Age': 21, 'Height':165, 'Weight':61})
print(dict1) #just appends new column

{'Name': 'Roshni', 'Age': 21, 'Fav ice-cream': ['Chocolate-Chip', 'Brownie Chocolate'], 'Weight': 61, 'Height': 165}

In [53]:
#Deleting the keys and the values
del dict1['Height']
print(dict1)

{'Name': 'Roshni', 'Age': 21, 'Fav ice-cream': ['Chocolate-Chip', 'Brownie Chocolate'], 'Weight': 61}