In [ ]:
#Q1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import numpy as np
import pandas as pd
#setting the seed
np.random.seed(123)
#generating the random values
random_data= np.random.randn(4,4)
#creating a dataframe using pandas
df= pd.DataFrame(random_data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
print(df)

   Feature1  Feature2  Feature3  Feature4
0 -1.085631  0.997345  0.282978 -1.506295
1 -0.578600  1.651437 -2.426679 -0.428913
2  1.265936 -0.866740 -0.678886 -0.094709
3  1.491390 -0.638902 -0.443982 -0.434351

In [ ]:
#Q2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df= df.rename(columns={'Feature1':'Random value 1',
                       'Feature2':'Random value 2',
                       'Feature3':'Random value 3',
                       'Feature4':'Random value 4'})
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0       -1.085631        0.997345        0.282978       -1.506295
1       -0.578600        1.651437       -2.426679       -0.428913
2        1.265936       -0.866740       -0.678886       -0.094709
3        1.491390       -0.638902       -0.443982       -0.434351

In [ ]:
#Q3 Find the descriptive statistics of the 'df' dataframe

In [ ]:
stats= df.describe()
print(stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.273274        0.285785       -0.816642       -0.616067
std          1.296340        1.232164        1.148802        0.614374
min         -1.085631       -0.866740       -2.426679       -1.506295
25%         -0.705358       -0.695862       -1.115834       -0.702337
50%          0.343668        0.179222       -0.561434       -0.431632
75%          1.322300        1.160868       -0.262242       -0.345362
max          1.491390        1.651437        0.282978       -0.094709

In [ ]:
#or, directly as well we can write
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.273274        0.285785       -0.816642       -0.616067
std          1.296340        1.232164        1.148802        0.614374
min         -1.085631       -0.866740       -2.426679       -1.506295
25%         -0.705358       -0.695862       -1.115834       -0.702337
50%          0.343668        0.179222       -0.561434       -0.431632
75%          1.322300        1.160868       -0.262242       -0.345362
max          1.491390        1.651437        0.282978       -0.094709

In [ ]:
#Q4 Check for the null values in 'df' and find the data type of the columns

In [ ]:
#Checking for null values in columns of df and finding its sum
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
#Data Types of columns in df
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
#Q5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
#Using location method(loc)
cols1= df.loc[:, ['Random value 2', 'Random value 3']]
print(cols1)

   Random value 2  Random value 3
0        0.997345        0.282978
1        1.651437       -2.426679
2       -0.866740       -0.678886
3       -0.638902       -0.443982

In [ ]:
#Using iloc method
cols2= df.iloc[:, [1,2]]
print(cols2)

   Random value 2  Random value 3
0        0.997345        0.282978
1        1.651437       -2.426679
2       -0.866740       -0.678886
3       -0.638902       -0.443982